.rep {
    max-width: 220px;
    margin: 5px;
    border: none;
    background-color: white !important;
}

.card-img-top {
    max-height: 220px;
    object-fit: cover;
}

.card {
    background-color: white;
}

.rep:hover {
    box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
    border: solid darkgray .5px;
    height: 405px;
    overflow: hidden;
}

.crop {
    height: 220px;
    overflow: hidden;
}
