.rep {
    max-width: 220px;
    margin: 5px;
    text-align: center;
    padding: none;
}



/*.card-title,
*/

/*.cart-text,*/

a,
p {
    /*padding: 2px;*/
    /*margin: 2px;*/
    color: black;
    text-align: center;
}

a {
    display: block;
    text-align: center;
}

.rep:hover {
    box-shadow: -7px 11px 25px -9px rgba(0, 0, 0, 1);
    border-color: black;
}
